html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #81AE9D;
    color: #31393C;
}

h2 {
    color: #5995ED;
}

div {
    background-color: #F9EAE1;
}

button {
    padding: 0.5em 2em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.7em;
    background-color: #E24E1B;
    color: #F9EAE1;
}

button:hover {
    background-color: #5995ED;
    color: #F9EAE1;
}

button:disabled {
    background-color: #26C485;
    color: #F9EAE1;
}

button[disabled]:hover {
    cursor: wait;
}

img {
    max-height: 60vh;
}
