html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #81AE9D;
    color: #31393C;
}

h2 {
    color: #5995ED;
}

div {
    background-color: #F9EAE1;
}

button {
    background-color: #E24E1B;
    color: #F9EAE1;
}

button:hover {
    background-color: #5995ED;
    color: #F9EAE1;
}

button:disabled {
    background-color: #26C485;
    color: #F9EAE1;
}

button[disabled]:hover {
    cursor: wait;
}

img {
    max-height: 60vh;
}

.spin {
    fill: #E24E1B;
	-webkit-animation: spin 1s ease-in-out infinite reverse forwards;
	        animation: spin 1s ease-in-out infinite reverse forwards;
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }  

@media only screen and (max-width: 600px) {
    img {
      max-height: 40vh;
    }
  }
